@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');
/* font-family: 'Kanit', sans-serif; */

:root {
    --font: 'Kanit', sans-serif;
    --backdrop: #333333;
    --background: #F1E3F3;
    --foreground: #C2BBF0;
    --accent: #8FB8ED;
}

.splitter-container {
    position: relative;
    width: 360px;
    height: 640px;
    background: var(--foreground);
    border-radius: 15px;
    margin-left: 45px;
}