@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');
/* font-family: 'Kanit', sans-serif; */

:root {
    --font: 'Kanit', sans-serif;
    --backdrop: #333333;
    --background: #F1E3F3;
    --foreground: #C2BBF0;
    --accent: #8FB8ED;
}

body {
    background: var(--backdrop);
    font-family:var(--font);
}

.main-container {
    position: absolute;
    width: 360px;
    height: 640px;
    background: var(--foreground);
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

.item-container {
    display: flex;
    flex-direction: row;
}

.item-label {
    position: absolute;
    font-size: 24px;
    left: 15px;
    margin: 0;
}

.price-wrapper {
    position: relative;
    width: 185px;
    height: 45px;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-weight:  600;
    font-size: 24px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    left: 136px;
    text-align: right;
    padding-right: 15px;
    background: var(--background);
}

.price-wrapper::-webkit-outer-spin-button,
.price-wrapper::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.item-container::before {
    z-index: 1;
    content: "$";
    position: absolute;
    left: 140px;
    padding-top: 5px;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

::placeholder {
    font-family: 'Kanit', sans-serif;
    font-weight:  600;
    color: black;
    text-align: right;
    font-size: 24px;
}

.tip-container {
    display: flex;
    flex-direction: row;
}

.tip-container .item-label {
    position: relative;
}

.tip-percentage-container {
    position: relative;
    left: 103px;
}

.tip-percentage-container button {
    height: 45px;
    width: 51px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--background);
}

.tip-percentage-container button p {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.tip-percentage-container .active {
    background-color: var(--accent);
}

.tip-percentage-container .unactive {
    background-color: var(--background);
}

.summary-container {
    display: none;
    position: relative;
    width: 330px;
    height: 217px;
    left: 15px;
}

.summary-label {
    position: relative;
    width: 96px;
    height: 22px;
    left: 117px;
    top: 8.91px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
}

.price-container {
    display: flex;
    flex-direction: row;
    height: 25px;
}

.item-name-label {
    position: relative;
    width: 83.27px;
    left: 75.36px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.item-price-label {
    position: relative;
    width: 83.27px;
    left: 130px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.total-price-container {
    display: flex;
    flex-direction: row;
}

.total-name-label {
    position: relative;
    width: 83.27px;
    height: 36.93px;
    left: 75.36px;
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.total-price-label {
    position: relative;
    width: 83.27px;
    height: 36.93px;
    left: 130px;
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.actions-container {
    position: absolute;
    width: 330px;
    left: 15px;
    top: 560px;
}

.actions-container button {
    height: 65px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-family: var(--font);
    font-weight: 600;
    font-size: 25px;
    background: var(--background);
}

#submit {
    position: relative;
    left: 25px;
}

.actions-container button p {
    margin: 0;
}